{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static "response/css/style.css" %}">
	<title>View Time Table</title>
</head>
<body>
	Hello, {{ var }}
	<table id="main">
		<!-- 일단 1-1만 -->
		<tr>
			<th></th>
			<th>월</th>
			<th>화</th>
			<th>수</th>
			<th>목</th>
			<th>금</th>
		</tr>
		{% for i in period_list %}
		<tr>
			<th>{{ i }}교시</th>
			<td>
				{{ monday.0 }}
			</td>
			<td>
				2
			</td>
			<td>
				3
			</td>
			<td>
				4
			</td>
			<td>
				5
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>