@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

#main {
	border-collapse: collapse;
}

body {
	text-align: center;
}

th > label {
	font-family: 'Nanum Pen Script', cursive;
	/*font-family: 'Nanum Gothic', serif;*/
}